# Mongo Container
MONGO_DB_USER=root
MONGO_DB_PASSWORD=admin

# Infra
MONGODB_CONNECTION_STRING=mongodb://root:admin@mongo:27017
RABBITMQ_CONNECTION_STRING=amqp://guest:guest@rabbitmq:5672

# Auth
JwtSettings__Secret=super-ultra-mega-secret-access-key-123456789
JwtSettings__Issuer=ComplyApi
JwtSettings__Audience=Comply

# Config
Gemini__Key=

# AWS Settings
AWS__BucketName=
AWS__Region=
AWS__AccessKey=
AWS__SecretKey=