# Mongo Container
MONGO_DB_USER=root
MONGO_DB_PASSWORD=

# Sale Container
SALE_SERVICE_TAG=

# Infra
MONGODB_CONNECTION_STRING=mongodb://root:admin@mongo:27017
RABBITMQ_CONNECTION_STRING=amqp://guest:guest@rabbitmq:5672

# Auth
JwtSettings__Secret=
JwtSettings__Issuer=ComplyApi
JwtSettings__Audience=Comply